	/*
* Some of this CSS is taken from a project called "Fluid Social Navbar",
* seen at http://cssdeck.com/labs/jjrjg1bc - I just tweaked it to my 
* liking, as it is an awesome layout for buttons.
*/

@import url("http://fonts.googleapis.com/css?family=Ubuntu+Condensed");
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: 20px/19px normal 'Ubuntu Condensed', sans-serif;
	background-color: lightgrey;
}


/*
===================
=header
===================
*/
#header {
	clear: both;
	width: 95%;
	margin: auto;
	display: none;
}

#header h1 {
	margin-left: -5%;
	margin-bottom: 20px;
	display: inline-block;
}

#header a {	text-decoration: none;	}


/*
===================
=main
===================
*/
#main {
	margin: auto;
	overflow: auto;
	display: none;
}

#main p {
	margin-top: 0.5%;
}


/*
===================
=input screen (both rooms and times screens)
===================
*/
.info {
	display: none;
	padding-bottom: 2px;
}

.info h3 {
	margin-top: 1%;
}

.info p {
	margin-top: -2%;
}

#t-to-r, #r-to-t {
	display: none;
	margin: -7.5% 0 0 80%;
}

#rooms select, #times select, #btn-get-r, #btn-get-t {
	padding: 4px;
	font: 18px normal 'Ubuntu Condensed', sans-serif;
}

#giveroom:focus, #rooms select:focus {
	outline: none;
	border-color: #09f;	
	color: #222;
}


/*
===================
=times
===================
*/
#times a {
	color: black;
}

#info-t {
	text-align: center;
	margin: 0 auto;
}

#Monday, #Tuesday, #Wednesday, #Thursday, #Friday {
	float: left;
	width: 20%;
	font-size: 90%;
}


/*
===================
=rooms
===================
*/
#sel-starttime, #sel-endtime {
	width: 13%;
	margin-bottom: 30px;
}

#sel-day {
	width: 6.5%;
}

#descrooms p {
	margin-top: -3.2%;
}

#descrooms h4 {
	margin-top: 0;
}


/*
===================
=those fancy buttons!
===================
*/
.nav {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.nav li:hover {
	opacity: 1.0;
	cursor: default;
}

.btn-fancy {
	position: relative;
	width: 30%;
	padding: 2%;
	margin: 0 auto 2% auto;
	box-shadow: 8px 8px 0 0px rgba(0, 0, 0, 0.25);
	background-color: rgba(0,0,0,0.07);
	opacity: 0.7;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media all and (max-width: 699px) and (min-width: 1px) {
	.btn-fancy { font-size: 12px;	}
}
@media all and (min-width: 700px) and (max-width: 1199px) {
	.btn-fancy { font-size: 16px; }
}
@media all and (min-width: 1200px) {
	.btn-fancy { font-size: 24px }
}

.btn-r {
	border-left: 50px solid rgb(255,255,255);
}

 .btn-t {
	border-left: 50px solid rgb(0,0,0);
}


/*
===================
=misc
===================
*/
.centering {
	text-align: center;
}

#container {
	margin: auto;
	width: 56%;
}

a {
	color: black;
}