<div id="splash">
  <p>Welcome to Roomsurfer! This page is meant to be used by University of Waterloo students when they are in need of a room to study in. Click the first button to find out when a particular room is free, or click the second button to find out what rooms are free at a specific time. The current term is Fall 2015 (1159).</p> 

  <p>PLEASE NOTE: These times do not include private bookings, i.e. if the room has been booked by a school club, then it will not appear here. This will only be able to display when a particular room does not have a class in it. Perhaps one day I will be able to handle private bookings.</p>
  <a href="#/times"><div class="btn-nav btn-times"><p>Tell me when a specific room is free.</p></div></a>
  <a href="#/rooms"><div class="btn-nav btn-rooms">Tell me all the rooms free at this time.</div></a>

  <p>Like this project? Wanna see the source code? Got an issue? Check out the GitHub repo <a href="https://github.com/SaintDako/Roomsurfer">here</a>.</p>
</div>